# This file needs to be copied by root to /etc/systemd/system/ReporterHome.service

[Unit]
Description=SWZP reporter service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/PyCharmRemote/ReporterHome/ReporterHome.py
Restart=always
WorkingDirectory=/home/pi/PyCharmRemote/ReporterHome
User=root
Group=root
[Install]
WantedBy=multi-user.target
